<%= form_with(model: @task, local: true) do |task| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, t('view.error')) %></h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= task.label :title, t('view.task_title') %>
    <%= task.text_field :title %>
  </div>

  <div class="field">
    <%= task.label :content, t('view.task_content') %>
    <%= task.text_field :content %>
  </div>

  <div class="field">
    <%= task.label :expired_at, t('view.task_expired_at') %>
    <%= task.date_field :expired_at %>
  </div>

  <div class="actions">
    <%= task.submit value= t('view.button_create') %>
  </div>
<% end %>
