<%= form_with(model: @task, local: true) do |task| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, t('error.validation_error')) %></h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= task.label :title, t('view.task_name') %>
    <%= task.text_field :title %>
  </div>

  <div class="field">
    <%= task.label :content, t('view.task_content') %>
    <%= task.text_field :content %>
  </div>

  <div class="field">
    <%= task.label :expired_at, t('view.expired_at') %>
    <%= task.date_field :expired_at %>
  </div>

  <div class="field">
    <%= task.label :status, t('view.status') %>
    <%= task.select :status, [[t('view.not_select'), ''], [t('view.not_yet_doing'), '未着手'], [t('view.doing'), '着手中'],[t('view.done'), '完了']] %>
  </div>

  <div class="field">
    <%= task.label :priority, t('view.priority') %>
    <%= task.select :priority, Task.priorities.keys.to_a, include_blank: true %>
  </div>

  <div class="actions">
    <%= task.submit t('view.create') %>
  </div>
<% end %>
