<h1 class="tasks_index_h1"><%= t('view.task_index') %></h1>
<p id="notice"><%= notice %></p>
  <%= form_with url:'/tasks', class: "tasks_index_form", method: :get, local: true do |f| %>
  <br>
  <%= f.label :title, t('view.search_title'), class: "tasks_index_label" %>
  <%= f.text_field :title %>
  <%= f.label :status, t('view.search_status') %>
  <%= f.select :status, [['指定なし', ''], ['未着手', '未着手'], ['着手中', '着手中'],['完了', '完了']], include_blanc: '選択してください' %>
  <%= f.submit t('view.search_start'), class: "btn btn-default"%>
  <button type="button" class="btn btn-default"><%= link_to t('view.search_clear'), tasks_path %></button>
<% end %>

<table class="tasks_index_table">
  <thead>
    <tr>
      <th><%= t('view.task_name') %></th>
      <th><%= t('view.task_content') %></th>
      <th><%= link_to t('view.expired_at'), tasks_path(sort_expired: "true") %></th>
      <th><%= t('view.created_at') %></th>
      <th><%= t('view.status') %></th>
      <th><%= link_to t('view.priority'), tasks_path(sort_priority: "true") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr class='tasks_index_tr'>
        <td class="task_row"><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.expired_at %></td>
        <td><%= task.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><button type="button" class="btn btn-default"><%= link_to t('view.show'), task %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to t('view.edit'), edit_task_path(task) %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to t('view.destroy'), task, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="tasks_index_page_selector">
  <%= paginate @tasks %>
</div>
