<h1><%= t('view.title_show') %></h1>
<p id="notice"><%= notice %></p>

<div>
<p>
  <strong><%= t('view.task_name2') %></strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t('view.task_content2') %></strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t('view.expired_at2') %></strong>
  <%= @task.expired_at %>
</p>

<p>
  <strong><%= t('view.status2') %></strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t('view.priority2') %></strong>
  <%= @task.priority %>
</p>

<%= link_to t('view.edit'), edit_task_path(@task) %> |
<%= link_to t('view.task_index'), tasks_path %>
