<h1><%= t('view.admin_page') %></h1>
<p><%= link_to t('view.create_account'), new_admin_user_path %></p>
<table class="tasks_index_table">
  <thead>
    <tr>
      <th><%= t('view.name') %></th>
      <th><%= t('view.mail_adress') %></th>
      <th><%= t('view.task_count') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr class='tasks_index_tr'>
        <td><%= admin_user.name %></td>
        <td><%= admin_user.email %></td>
        <td><%= admin_user.tasks.count %></td>
        <td><button type="button" class="btn btn-default"><%= link_to t('view.show'), admin_user_path(admin_user) %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to t('view.edit'), edit_admin_user_path(admin_user) %></button></td>
        <td><button type="button" class="btn btn-default"><%= link_to t('view.destroy'), admin_user_path(admin_user), method: :delete, data: { confirm: t('view.confirmation_message') } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
